---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <div class="page">
        <h1>About me</h1>
        <p>
            I'm Nolan. I'm a linguist, developer, and humanist who likes
            building things that bridge the gap between people and ideas. I
            graduated from UNC Chapel Hill in 2025 with degrees in Computer
            Science and Hispanic Linguistics, where I explored how language,
            both spoken and coded, shapes the way we see the world.
        </p>

        <p>
            To wit, I've worked as:
            <ul>
                <li>
                    A marketing (and later operations) executive for a <a
                        href="https://chapelthrillescapes.com/"
                        >student-run escape room startup</a
                    >
                </li>
                <li>
                    A Spanish translator and interpreter (<a
                        href="https://www.atanet.org/client-assistance/what-is-the-difference-between-translation-and-interpreting/"
                        >yes, there's a difference</a
                    >)
                </li>
                <li>A neuroscience lab technician at FIU</li>
                <li>A software developer at Amazon (my current role!)</li>
                <li>
                    A Kumon grader, a fundraising cold-caller, and a skating
                    rink attendant
                </li>
            </ul>
        </p>

        <p>
            ...Not necessarily in that order. My broad work experience, coupled
            with my strongly interdisciplinary academic interests, have given me
            a unique appreciation for overlaps, intersections, midpoints, and
            all things best considered at their intersection.
        </p>
    </div>
</BaseLayout>

<style>
    .page {
        max-width: 760px;
        margin: 0 auto;
    }
</style>
